/** random quotes styling*/
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
body {
  height: 100vh;
  background-image: linear-gradient(to right, #606c88, #3f4c6b);
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 60%;
  background-image: linear-gradient(to right, #485563, #29323c);
}
.quote-icon {
  top: 15px;
  right: 15px;
}
.advice {
  word-wrap: break-word;
  font-family: "Madimi One", sans-serif;
}
.btn {
  border-radius: 0 !important;
}

@media (max-width: 768px) {
  .wrapper {
    min-width:80%;
  }
}
